body {
    font: 13px "Trebuchet MS",Helvetica,Jamrul,sans-serif;
    background: #fbfbfb;
}
h1 {
    font-size: 26px;
    padding: 10px 0 5px;
}
h2 {
	font-size: 20px;
	padding: 10px 0 5px;
	font-weight: normal;
}
h2 strong {
	font-size: 24px
}
h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 25px 0 5px 0;
}
p {
    padding: 4px 0;
}
header {
    box-shadow: 0px 3px 1px 0px #999;
    margin: 0 0 50px 0;
}
.center {
    text-align: center;
}
.left {
	position: relative;
	float: left;
}
.right {
	position: relative;
	float: right;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}
#nav {
	background: #2492d8;
}
nav {
	display: table;
    width: 560px;
    margin: 0 auto;
}
nav a {
	color: #fff;
	text-decoration: none;
	display: table-cell;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
nav a:hover {
	background: #1b78b3;
}
#wrapper {
    margin: 0 auto;
    width: 960px;
}
#header-inner {
    margin: 0 auto;
    width: 960px;
    height: 100px;
}
#box {
    background: #fff;
    border: 1px solid #e1e0e0;
    padding: 20px 25px;
    border-radius: 3px;
}
#index {
    width: 734px;
    margin: 0 auto;
}
#destination-date-form p {
    margin: 15px 0;
}
#destination-date-form label {
    display : inline-block;
    width : 150px;
}
#destination-date-form #destination, #destination-date-form #date {
    width : 492px;
}
#destination-date-form p span {
    margin-right: 50px;
}
#destination-date-form #loader {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 5px;
    background: url(../images/ui-anim_basic_16x16.gif) right center no-repeat;
}
#spaqrl-form textarea {
	width: 881px;
	height: 180px;
}
input.blue, textarea.blue {
    background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-size: 13px;
    color: #222222;
    position: relative;
    height: 28px;
    padding-left: 12px;
}
textarea.blue {
    padding: 12px;
}
input.blue:focus, textarea.blue:focus {
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
}
#error-message {
	color: #db2525;
}
#results .left {
	width: 450px;
}
#results .right {
    width: 430px;
}
#weather-info {
	width: 100%;
}
#weather-info th
{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
    line-height: 30px;
}
#weather-info td
{
    border-bottom: 1px solid #ccc;
    vertical-align: baseline;
    padding: 0 0 25px 10px;
}
#weather-info td.img {
	padding: 0 0 0 10px;
}
#weather-info td img {
    position: relative;
    top: 20px;
}
#map-canvas {
	margin: 10px 0 0 0;
	width: 430px;
	height: 430px;
}