@main("TaWeb Project") {

    <div id="index">
	<h1>TaWeb Project</h1>
	
	<form id="airport-date-form" method="post" action="@routes.Application.results()">
		<label for="iataCode">Country : </label>
		<select id="country" name="country"></select><br/>
		
		<label for="iataCode">Destination : </label>
		<select id="iataCode" name="iataCode"></select>
		<img id="loading-airports-img" src="/assets/images/loading.gif" alt="loading"/><br/>
		
		<label for="arrivalDateTime">Arrival date : </label>
		<input id="arrivalDateTime" type="text" name="arrivalDateTime" placeholder="dd/mm/yyyy hh:mm"/><br/>
		
		<input type="submit" />
	</form>
	
	<script src="/assets/javascripts/countries.js"></script>
	<script src="/assets/javascripts/airports.js"></script>
	
	</div>
}
