@main("TaWeb Project") {

    <div id="index">
	<h1>Select your destination and arrival date</h1>
	<form id="destination-date-form" method="post" action="@routes.Application.results()">
        <p>
            <label for="destination">Destination : </label>
            <input id="destination" class="blue" name="destination">
            <span id="loader"></span>
            <input type="hidden" id="destinationValue">
        </p>
		<p>
            <label for="arrivalDateTime">Arrival date : </label>
            <input id="arrivalDateTime" type="text" name="arrivalDateTime" placeholder="dd/mm/yyyy hh:mm" class="blue"><br/>
		</p>
		<p class="center">
            <input type="submit" value=" Go " />
        </p>
	</form>
	</div>
}
