@(weatherDataList: List[WeatherData])

@main("Weather test") {

    <h3>Weather upon your arrival and next days</h3>
    @if(weatherDataList.isEmpty()) {
        No weather information!
    } else {
        <table>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Description</th>
                <th>Icon</th>
            </tr>
            @for(wd <- weatherDataList) {
            <tr>
                <td>@wd.date.format("dd/MM/yyyy hh:mm")</td>
                <td>@wd.temperature &deg;C</td>
                <td>@wd.description</td>
                <td><img src="http://openweathermap.org/img/w/@{wd.icon}.png" alt="@wd.description"></td>
            </tr>
           }
        </table>
    }
}